/* css for header */
header h1 {
text-align: center;
background-color: #f4f4f4;
font-family: Arial, Helvetica, sans-serif;
}

header h3 {
background-color: aliceblue;
font-size: 36px;
transition: color .5s;
}
/* .\end */

/* css for main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    text-align: center;
    background-color: green;
}

main p {
    text-decoration: wavy;
    color: aquamarine;
    border: 2px solid blue;
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
}

main img {
    border-image: fill;
    border: 2px solid rgb(191, 239, 1);
    max-width: 100%;
    outline: 2px solid gray;
    border-radius: 20px;

}
/* .\end */

/* css for footer */
footer h3 {

}
/* .\end */